* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --text-colorHeading: #0c3440;
  --bakgound-color: #040924;
  --background-inputColor: #dce2e9;
  --label-textColor: #00453a;
  --input-color: #212529;
  --outline-inputColor: #02799d;
  --border-inputColor: rgba(73, 80, 87, 0.3);
  --textColor-placeholder: rgba(73, 80, 87, 0.5);
  --text-button: #ffffff;
  --background-button: #02799d;
  --background--buttonHover: #01475c;
  --background-error: #f03e3e;
  --text-eror-: #ffffff;
}

body {
  background: var(--bakgound-color);
  font-family: "Roboto", sans-serif;
}

body,
input,
button {
  font-size: 1.6rem;
  line-height: 2rem;
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  background: #ffffff;

  padding: 4.8rem 6.4rem 6.4rem;
  max-width: 42.8rem;
  margin-inline: auto;

  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}

.title {
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--text-color);
}

form {
  width: 30rem;
}

form h1 {
  margin-bottom: 3.2rem;
}

label {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
  color: var(--label-textColor);
}

form input {
  width: 100%;
  padding: 1.6rem;
  border: 1px solid var(--border-inputColor);
  border-radius: 0.4rem;
  background: var(--background-inputColor);
  color: var(--input-color);
}

form input:focus {
  outline: 2px solid var(--outline-inputColor);
}

form input::placeholder {
  color: var(--textColor-placeholder);
}

.input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
}

form button {
  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 100%;

  border: none;
  background-color: var(--background-button);
  color: var(--text-button);

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  cursor: pointer;

  transition: background 0.2s;
}

form button:hover {
  background: var(--background--buttonHover);
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);

  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal {
  position: relative;
}

.modal button {
  background: none;
  border: none;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  cursor: pointer;
  transition: transform 0.3s;
}

.modal button:hover {
  transform: scale(1.1);
}

.alert-error.open {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}

.alert-error {
  position: absolute;
  background-color: var(--background-error);
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--text-eror-);
  padding: 0.8rem 0;
  font-weight: bold;

  opacity: 0;
  visibility: hidden;

  transform: translateY(-30);
  transform: transform 0.5s;
}
